<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">

<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- Head ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164520821-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-164520821-1');
    </script>

    <!-- Google Analytics -->
    <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-164520821-1', 'auto'); //Default: https tracker
    //ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->

    <!-- Google site verification -->
    <meta name="google-site-verification" content="yYlkKTMSQbONW-z_LtZIJ097ZUR3t4lh6QR9sRyGfCM" />

    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content="Gajanan Choudhary is a Math Algorithm Engineer in the oneAPI Math Kernel Library (oneMKL) team at Intel Corporation. He is a computational scientist with PhD and Master's degrees from The University of Texas at Austin and Bachelor's degree from Indian Institute of Technology Kharagpur." />

    <meta name="keywords" content="Gajanan Choudhary, Computational scientist, Intel Corporation, UT Austin, IIT Kharagpur, oneMKL, Math Kernel Library, Computational Hydraulics Group, Shallow water equations, Finite element method, 2D 3D coupling, Python interface." />

    <meta name="author" content="Gajanan Choudhary" />

    <meta name="robots" content="index, follow" />

    <meta property="og:title" content="About Gajanan Krishna Choudhary | Computational Scientist" />
    <meta property="og:image" content="{{ user.avatar_url }}" />
    <meta property="og:description" content="Gajanan Choudhary is a Math Algorithm Engineer in the oneAPI Math Kernel Library (oneMKL) team at Intel Corporation. He is a computational scientist with PhD and Master's degrees from The University of Texas at Austin and Bachelor's degree from Indian Institute of Technology Kharagpur." />
    <meta property="og:url" content="http://users.oden.utexas.edu/~gajanan/" />

    <link rel="shortcut icon" href="assets/ico/favicon.png" />

    <title>Gajanan Choudhary | Computational Scientist</title>

    <!-- SEO : JSON-LD Schema data -->
    <script type="application/ld+json"> {
      "@context": "http://schema.org/",
      "@type": "Person",
      "name": "{{ user.name }}",
      "alternateName": "Gajanan Krishna Choudhary",
      "givenName": "Gajanan",
      "additionalName": "Krishna",
      "familyName": "Choudhary",
      "url": "https://gajanan-choudhary.github.io",
      "sameAs": [
        "https://users.oden.utexas.edu/~gajanan/",
        "https://github.com/gajanan-choudhary",
        "https://gajanan-choudhary.github.io",
        "https://www.oden.utexas.edu/people/1400/",
        "https://scholar.google.com/citations?user=usGVAiUAAAAJ&hl=en",
        "https://www.linkedin.com/in/gajananchoudhary",
        "https://utexas.academia.edu/GajananChoudhary",
        "https://github.com/gajanan-choudhary",
        "https://www.facebook.com/gajananchoudhary91"
      ],
      "image": "{{ user.avatar_url }}",
      "description": "Computational engineer specializing in scientific/high performance computing, applied mathematics, and machine learning.",
      "honorificPrefix": "Dr.",
      "honorificSuffix": "Ph.D.",
      "jobTitle": "Software Engineer",
      "worksFor": {
        "@type": "Organization",
        "name": "Intel Corporation",
        "url": "https://www.intel.com/"
      },
      "colleague": {
        "@type": "Person",
        "name": "Clint Dawson",
        "url": "https://www.ae.utexas.edu/people/faculty/faculty-directory/dawson",
        "sameAs": "https://chg.oden.utexas.edu/"
      },
      "alumniOf": [
        {
          "@type": "CollegeOrUniversity",
          "name": "The University of Texas at Austin",
          "url": "https://www.utexas.edu",
          "sameAs": "https://en.wikipedia.org/wiki/University_of_Texas_at_Austin"
        },
        {
          "@type": "CollegeOrUniversity",
          "name": "Indian Institute of Technology Kharagpur",
          "url": "http://www.iitkgp.ac.in/",
          "sameAs": "https://en.wikipedia.org/wiki/Indian_Institute_of_Technology_Kharagpur"
        }
      ]
    }
    </script>

    <!-- Bootstrap core CSS -->
    <!--<link href="assets/css/bootstrap.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="assets/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/academicons.min.css"/>

    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/w3smoothscroll.js"></script>
    <script src="assets/js/Chart.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
      function timer11(){ga('send', 'event', 'TimeOnPage', '11-30 seconds', '1', { 'nonInteraction': 1 });}
      function timer31(){ga('send', 'event', 'TimeOnPage', '31-60 seconds', '2', { 'nonInteraction': 1 });}
      function timer61(){ga('send', 'event', 'TimeOnPage', '61-180 seconds', '3', { 'nonInteraction': 1 });}
      function timer181(){ga('send', 'event', 'TimeOnPage', '181-600 seconds', '4', { 'nonInteraction': 1 });}
      function timer601(){ga('send', 'event', 'TimeOnPage', '601-1800 seconds', '5', { 'nonInteraction': 1 });}
      function timer1801(){ga('send', 'event', 'TimeOnPage', '1801+ seconds', '6', { 'nonInteraction': 1 });}
      ga('send', 'event', 'TimeOnPage', '0-10 seconds', '0', { 'nonInteraction': 1 });
      setTimeout(timer11,11000);
      setTimeout(timer31,31000);
      setTimeout(timer61,61000);
      setTimeout(timer181,181000);
      setTimeout(timer601,601000);
      setTimeout(timer1801,1801000);
    </script>


    <script>
      function showhide(divelem, spanself) {
        var div = document.getElementById(divelem);
        div.classList.toggle('hidden');
        var span = document.getElementById(spanself);
        if (span.innerHTML == '... (show more)') {
          texttoshow = "(show less)";
        }
        else {
          texttoshow = "... (show more)";
        }
        span.innerHTML = texttoshow;
      }
    </script>

  </head>

<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- Body ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  <body data-spy="scroll" data-offset="0" data-target="#nav">

