<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- Footer ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

	<section id="contacttag" name="contact"></section>
	<!--FOOTER DESCRIPTION -->
	<div id="footwrap">
		<div class="container">
			<div class="row">
			
				<div class="col-lg-2 col-lg-offset-1">
					<h5>CONTACT</h5>
				</div>
				<div class="col-lg-6">
					<p><t>Email</t><br/>
						<script language="JavaScript">
							var username = "gajanan";
							var hostname = "utexas.edu";
					 		var linktext = username + "@" + hostname ;
                            document.write("<a href='" + "mail" + "to:" + username + "@" + hostname +
                                                    "' onClick="+'"'+"ga('send', 'event', {" +
                                                        "eventCategory: 'ExternalLinkAccess', " +
                                                        "eventAction: 'ClickFooterEmail', " +
                                                        "eventLabel: 'Email', eventValue: 1" +
                                                    '});" ' +
                                                    ' oncontextmenu="'+"ga('send', 'event', {" +
                                                        "eventCategory: 'ExternalLinkAccess', " +
                                                        "eventAction: 'ClickFooterEmail', " +
                                                        "eventLabel: 'Email', " +
                                                        "eventValue: 2 " +
                                                    '});" ' +
                                            ">" + linktext + "</a>");
						</script>
						<br/>
					</p>
					<!--p><t>Office Phone:</t><br/>
                        <a href="tel:+1512-657-3030">+1 (512) 657-3030</a>
						<br/>
					</p--!>
					<p><t>Address</t><br/>
						Intel Corporation - Barton Skyway <br/>
						Austin, Texas 78746, U.S.A. <br/>
					</p>
				</div>
				<div class="col-lg-3">
					<h5>SOCIAL LINKS</h5>
					<p>
                        <a href="https://www.linkedin.com/in/gajananchoudhary" target="_blank"
                                onClick="ga('send', 'event', {
                                    eventCategory: 'ExternalLinkAccess',
                                    eventAction: 'ClickFooterSocial',
                                    eventLabel: 'LinkedIn',
                                    eventValue: 1
                                });"
                        ><i class="fa fa-linkedin-square fa-lg"></i>LinkedIn
                        </a><br/>
                        <a href="https://scholar.google.com/citations?hl=en&user=usGVAiUAAAAJ" target="_blank"
                                onClick="ga('send', 'event', {
                                    eventCategory: 'ExternalLinkAccess',
                                    eventAction: 'ClickFooterSocial',
                                    eventLabel: 'GoogleScholar',
                                    eventValue: 1
                                });"
                        ><i class="ai ai-google-scholar-square ai-lg"></i>Google Scholar
                        </a><br/>
                        <a href="https://orcid.org/0000-0003-0826-8493" target="_blank"
                                onClick="ga('send', 'event', {
                                    eventCategory: 'ExternalLinkAccess',
                                    eventAction: 'ClickFooterSocial',
                                    eventLabel: 'ORCID',
                                    eventValue: 1
                                });"
                        ><i class="ai ai-orcid-square ai-lg"></i>ORCID
                        </a><br/>
                        <a href="https://utexas.academia.edu/GajananChoudhary" target="_blank"
                                onClick="ga('send', 'event', {
                                    eventCategory: 'ExternalLinkAccess',
                                    eventAction: 'ClickFooterSocial',
                                    eventLabel: 'Academia',
                                    eventValue: 1
                                });"
                        ><i class="ai ai-academia-square ai-lg"></i>Academia
                        </a><br/>
                        <a href="https://github.com/gajanan-choudhary" target="_blank"
                                onClick="ga('send', 'event', {
                                    eventCategory: 'ExternalLinkAccess',
                                    eventAction: 'ClickFooterSocial',
                                    eventLabel: 'GitHub',
                                    eventValue: 1
                                });"
                        ><i class="fa fa-github-square fa-lg"></i>GitHub repos
                        </a><br/>
                        <a href="https://gajanan-choudhary.github.io/blog" target="_blank"
                                onClick="ga('send', 'event', {
                                    eventCategory: 'ExternalLinkAccess',
                                    eventAction: 'ClickFooterSocial',
                                    eventLabel: 'GitHub_blog',
                                    eventValue: 1
                                });"
                        ><i class="fa fa-github-square fa-lg"></i>GitHub blog
                        </a><br/>
                        <a href="https://www.facebook.com/gajananchoudhary91" target="_blank"
                                onClick="ga('send', 'event', {
                                    eventCategory: 'ExternalLinkAccess',
                                    eventAction: 'ClickFooterSocial',
                                    eventLabel: 'Facebook',
                                    eventValue: 1
                                });"
                        ><i class="fa fa-facebook-square fa-lg"></i>Facebook
                        </a><br/>
					</p>
				</div>
			</div><!--/.row -->
		</div><!--/.container -->
	</div><!--/ #footer -->
	
	<div id="c">
		<div class="container">
            <p>Last updated on 15 October 2021.
               Based on a template by
               <a href="http://www.blacktie.co" target="_blank"
                         onClick="ga('send', 'event', {
                             eventCategory: 'ExternalLinkAccess',
                             eventAction: 'ClickFooterBlackTie',
                             eventLabel: 'BlackTie',
                             eventValue: 1
                         });"
               >BLACKTIE.CO</a>.
            </p>
		</div>
	</div>
	

<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- End +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<script src="assets/js/bootstrap.js"></script>-->

  </body>
</html>

