	<section id="home" name="home"></section>
	<div id="section-topbar">
		<div id="topbar-inner">
			<div class="container">
				<div class="row">
					<div class="dropdown">
						<ul id="nav" class="nav">
							<li class="menu-item"><a href="#home" title="Home"><i class="fa fa-home mygreen"></i></a></li>
                            <!--li class="menu-item"><a href="#about" title="About"><i class="fa fa-user mygreen"></i></a></li-->
							<li class="menu-item"><a href="#experience" title="Experience"><i class="fa fa-briefcase mygreen"></i></a></li>
							<li class="menu-item"><a href="#education" title="Education"><i class="fa fa-mortar-board mygreen"></i></a></li>
							<li class="menu-item"><a href="#publications" title="Publications"><i class="fa fa-file-text mygreen"></i></a></li>
							<li class="menu-item"><a href="#talks" title="Talks"><i class="fa fa-slideshare mygreen"></i></a></li>
							<li class="menu-item"><a href="#contact" title="Contact"><i class="fa fa-envelope mygreen"></i></a></li>
						</ul><!--/ uL#nav -->
					</div><!-- /.dropdown -->

					<div class="clear"></div>
				</div><!--/.row -->
			</div><!--/.container -->

			<div class="clear"></div>
		</div><!--/ #topbar-inner -->
	</div><!--/ #section-topbar -->
	
	<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-12">
					<h1>Gajanan Choudhary</h1>
					<h2>Computational Scientist</h2>
				</div><!--/.col-lg-12 -->
			</div><!--/.row -->
		</div><!--/.container -->
        <div id="about"></div>
	</div><!--/.#headerwrap -->
	

	<section name="about"></section>
	<div id="intro">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-2 col-lg-offset-1">
					<h5>ABOUT</h5>
				</div>
				<div class="col-lg-6">
					<p>Computational scientist with many years of interdisciplinary
                    research and test-driven scientific software development
                    experience through 15+ projects spanning high-performance
                    computing (HPC), object-oriented programming, applied
                    math, numerical methods, computational mechanics,
                    optimization, and machine learning. Expert in coupling
                    scientific software and mixed-language programming with
                    C/C++, Fortran, and Python.</p>
				</div>
				<div class="col-lg-3">
                    <p><a href="https://github.com/gajanan-choudhary/CV-Resume/releases/download/v1.2.0/CV.pdf?pdf=CV" target="_blank"
                               onClick="ga('send', 'event', {
                                   eventCategory: 'Download',
                                   eventAction: 'ClickAbout',
                                   eventLabel: 'CV',
                                   eventValue: 1
                               });"
                        >
                            <i class="fa fa-file-pdf-o mygreen"></i><sm>DOWNLOAD PDF CV</sm>
                    </a></p>
                    <p><a href="https://github.com/gajanan-choudhary/CV-Resume/releases/download/v1.2.0/two-page-resume.pdf?pdf=Resume" target="_blank"
                                onClick="ga('send', 'event', {
                                    eventCategory: 'Download',
                                    eventAction: 'ClickAbout',
                                    eventLabel: 'Resume',
                                    eventValue: 1
                                });"
                        >
                            <i class="fa fa-file-pdf-o mygreen"></i><sm>DOWNLOAD PDF RESUME</sm>
                    </a></p>
                    <p><a href="https://github.com/gajanan-choudhary/CV-Resume-text" target="_blank"
                                onClick="ga('send', 'event', {
                                    eventCategory: 'ExternalLinkAccess',
                                    eventAction: 'ClickAbout',
                                    eventLabel: 'PlainTextCV',
                                    eventValue: 1
                                });"
                        >
                            <i class="fa fa-file-text-o mygreen"></i><sm>PLAIN-TEXT CV AVAILABLE ON GITHUB</sm>
                    </a></p>
				</div>
			</div><!--/.row -->
		</div><!--/.container -->
        <div id="experience"></div>
	</div><!--/ #intro -->
	
	<section name="experience"></section>
	<!--EXPERIENCE DESCRIPTION -->
	<div class="container desc">
		<div class="row">

				<div class="col-lg-2 col-lg-offset-1">
					<h5>EXPERIENCE</h5>
				</div>

				<div class="col-lg-6">
					<p><t>Math Algorithm Engineer</t><br/>
                    Intel Corporation, Austin, TX, USA
                    <br/></p>
				</div>
				<div class="col-lg-3">
					<p><sm>FEBRUARY '21 - PRESENT</sm></p>
				    <!--span id="showhide_RA_self" onclick="showhide('showhide_RA_details','showhide_RA_self')">See details...</span-->
				</div>
				<!--div id="showhide_MAE_details"-->
				<div class="col-lg-6 col-lg-offset-3">
					<div style="margin: 3px;"><span>Performance optimization of the</span>
                    <span id="showhide_MAE_details" class="hidden">Intel(R) oneAPI Math Kernel Library (oneMKL) on Intel hardware.
                    </span>
                    <span style="cursor:pointer;" id="showhide_MAE_self" onclick="showhide('showhide_MAE_details','showhide_MAE_self')" >... (show more)</span>
                    <br/><br/>
                    </div>
				</div>
				<!--/div-->

                <div class="col-lg-6 col-lg-offset-3">
					<p><t>Research Associate</t><br/>
                    Oden Institute for Computational Engineering and Sciences, The University of Texas at Austin, USA
                    <br/></p>
				</div>
				<div class="col-lg-3">
					<p><sm>DECEMBER '20 - FEBRUARY '21</sm></p>
				    <!--span id="showhide_RA_self" onclick="showhide('showhide_RA_details','showhide_RA_self')">See details...</span-->
				</div>
				<!--div id="showhide_RA_details"-->
				<div class="col-lg-6 col-lg-offset-3">
					<div style="margin: 3px;"><span>Open source parallel software</span>
                    <span id="showhide_RA_details" class="hidden">development for research on coupled machine learning and fluid dynamics models
                        <p><ul>
                        <li>Leading the development of coupled <i>PyTorch</i> neural network and CFD/physics models in the Python software, Water Coupler</li>
                        <li>Leading USACE-sponsored software projects to expand the capabilities of the CFD software, <i>Adaptive Hydraulics (AdH)</i>, through addition of <i>PETSc</i> solvers and coupling with <i>HEC-RAS</i></li>
                        </ul>
                        </p>
                    </span>
                    <span style="cursor:pointer;" id="showhide_RA_self" onclick="showhide('showhide_RA_details','showhide_RA_self')" >... (show more)</span>
                    <br/><br/>
                    </div>
				</div>
				<!--/div-->

                <div class="col-lg-6 col-lg-offset-3">
					<p><t>Postdoctoral Fellow</t><br/>
                    Oden Institute for Computational Engineering and Sciences, The University of Texas at Austin, USA
                    <br/></p>
				</div>
				<div class="col-lg-3">
					<p><sm>OCTOBER '19 - DECEMBER '20</sm></p>
				    <!--span id="showhide_postdoc_self" onclick="showhide('showhide_postdoc_details','showhide_postdoc_self')">See details...</span-->
				</div>
				<!--div id="showhide_postdoc_details"-->
				<div class="col-lg-6 col-lg-offset-3">
					<div style="margin: 3px;"><span>Open source parallel software</span>
                    <span id="showhide_postdoc_details" class="hidden">development for research on coupled fluid dynamics models
                        <p><ul>
                            <li>Developed <i>pyADCIRC</i>, the Python interface of <i>ADvanced CIRCulation (ADCIRC)</i> to enable coupling it with other scientific software</li>
                        <li>Coupled <i>Gridded Surface Subsurface Hydrologic Analysis (GSSHA)</i> with <i>ADCIRC</i> in the Python software, <i>Water Coupler</i>, for simulation of compound floods from hurricanes</li>
                        <li>Coupled 2D diffusive wave and 3D groundwater models in the C software, <i>AdH</i></li>
                        </ul>
                        </p>
                    </span>
                    <span style="cursor:pointer;" id="showhide_postdoc_self" onclick="showhide('showhide_postdoc_details','showhide_postdoc_self')" >... (show more)</span>
                    <br/><br/>
                    </div>
				</div>
				<!--/div-->

                <div class="col-lg-6 col-lg-offset-3">
					<p><t>Graduate Research Assistant</t><br/>
						Oden Institute for Computational Engineering and Sciences, The University of Texas at Austin, USA
                    <br/></p>
				</div>
				<div class="col-lg-3">
					<p><sm>SEPTEMBER '14 - OCTOBER '19</sm></p>
                    <!--span id="showhide_GRA_self" onclick="showhide('showhide_GRA_details','showhide_GRA_self')">See details...</span-->
				</div>
				<!--div id="showhide_GRA_details"-->
				<div class="col-lg-6 col-lg-offset-3">
                    <div style="margin: 3px;"><span>Software and library development for research</span>
                    <span id="showhide_GRA_details" class="hidden">on coupled fluid dynamics models
				        <p><ul>
                        <li>Created, designed, implemented, tested, and validated the Python software, <i>Water Coupler</i>, for coupling hydrodynamic and hydrologic models written in C, C++, Fortran, and Python</li>
						<li>Developed and implemented numerous major features for 2D and 3D shallow water models in the HPC software, <i>AdH</i>, over a period of 4 years</li>
                        <li>Implemented Python interfaces of <i>AdH</i> and <i>GSSHA</i>, and coupled them for simulation of compound flooding events.</li>
				        </ul></p>
                    </span>
                    <span style="cursor:pointer;" id="showhide_GRA_self" onclick="showhide('showhide_GRA_details','showhide_GRA_self')" >... (show more)</span>
                    <br/><br/>
                    </div>
				</div>
				<!--/div-->

				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Assistant Surveyor</t><br/>
						Research and Rule Development Division, Indian Register of Shipping, Mumbai, India
                    <br/></p>
				</div>
				<div class="col-lg-3">
					<p><sm>JULY '13 - JULY '14</sm></p>
                    <!--span id="showhide_IRS_self" onclick="showhide('showhide_IRS_details','showhide_IRS_self')">See details...</span-->
				</div>
				<!--div id="showhide_IRS_details"-->
				<div class="col-lg-6 col-lg-offset-3">
					<div style="margin: 3px;"><span>Conducted research through 3 </span>
                    <span id="showhide_IRS_details" class="hidden"> projects on structural response of ship hull girders to external loads
					<p><ul>
						<li>Published a peer-reviewed research paper in the journal, Ocean Engineering, on automation of shear flow calculations for ships</li>
                        <li>Developed a <i>MATLAB</i>-based software, <i>IR-SECT</i>, for finding sectorial properties of ship cross-sections, including warping properties</li>
						<li>Analyzed a detailed finite element model of a container ship against multiple loads using <i>ANSYS Mechanical</i></li>
					</ul></p>
                    </span>
                    <span style="cursor:pointer;" id="showhide_IRS_self" onclick="showhide('showhide_IRS_details','showhide_IRS_self')" >... (show more)</span>
                    <br/><br/>
                    </div>
				</div>
				<!--/div-->
	
				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Structural Engineering Intern</t><br/>
						Himanshu Tulpule and Associates, Pune, India
                    <br/></p>
				</div>
				<div class="col-lg-3">
                    <p><sm>MAY '12 - JULY '12, and<br/>MAY '10 - JUNE '10</sm></p>
                    <!--span id="showhide_HTA_self" onclick="showhide('showhide_HTA_details','showhide_HTA_self')">See details...</span-->
				</div>
				<!--div id="showhide_HTA_details"-->
				<div class="col-lg-6 col-lg-offset-3">
                    <div style="margin: 3px;"><span>Designed and detailed 14 </span>
                    <span id="showhide_HTA_details" class="hidden"> structures spanning 7 different types
					<p><ul>
                        <li>Steel: trusses, frames, portals, and arches</li>
						<li>Reinforced Concrete: frames and liquid retaining tanks</li>
						<li>Composite: Concrete slab over a steel I-beam</li>
					</ul></p>
                    </span>
                    <span style="cursor:pointer;" id="showhide_HTA_self" onclick="showhide('showhide_HTA_details','showhide_HTA_self')" >... (show more)</span>
                    <br/><br/>
                    </div>
				</div>
				<!--/div-->
		</div><!--/.row -->
		<br>
        <div id="education"></div>
		<hr>
	</div><!--/.container -->

	<section name="education"></section>
	<!--EDUCATION DESCRIPTION -->
	<div class="container desc">
		<div class="row">

				<div class="col-lg-2 col-lg-offset-1">
					<h5>EDUCATION</h5>
				</div>

				<div class="col-lg-6">
					<p><t>Doctor of Philosophy (Ph.D.)</t><br/>
						Engineering Mechanics<br/>
						<i>The University of Texas at Austin, USA</i>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>DECEMBER 2019</sm><br/><br/>
					</p>
				</div>
	
				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Graduate Portfolio</t><br/>
						Scientific Computation<br/>
						<i>The University of Texas at Austin, USA</i>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>MAY 2018</sm><br/><br/>
					</p>
				</div>
	
				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Master of Science in Engineering (M.S.E.)</t><br/>
						Engineering Mechanics<br/>
						<i>The University of Texas at Austin, USA</i>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>MAY 2017</sm><br/><br/>
					</p>
				</div>
	
				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Bachelor of Technology (B.Tech.)</t><br/>
						Civil Engineering<br/>
						<i>Indian Institute of Technology (IIT) Kharagpur, India.</i>
					</p>
					
				</div>
				<div class="col-lg-3">
					<p><sm>JULY 2013</sm><br/></p>
				</div>
	
				<!--div class="col-lg-6 col-lg-offset-3">
					<p><br/></p>
					
				</div-->
		</div><!--/.row -->
		<br>
		<br>
        <div id="skills"></div>
		<hr>
	</div><!--/.container -->
	
	<!--SKILLS DESCRIPTION -->
	<section name="skills"></section>
	<div class="container desc">
		<div class="row">
                <div class="col-lg-2 col-lg-offset-1">
                	<h5>SOFTWARE SKILLS</h5>
                </div>
				<div class="col-lg-9">
                    <p><t>Programming:</t></p>
                    <div class="col-lg-8">
                        <p>C/C++, Python, Fortran, MATLAB, Bash, MPI,
                        OpenMP, f2py, SWIG, and Python/C API<br/></p>
                    </div>
				</div>
				<div class="col-lg-9 col-lg-offset-3">
                    <p><t>Tools:</t></p>
                    <div class="col-lg-8">
                        <p>GitHub, Bitbucket, Git, Mercurial, SVN,
                        Travis CI, CircleCI, Docker, Codecov,
                        Coveralls, GNU Make, CMake, Gcov, LCOV,
                        GProf, GDB, Valgrind, LaTeX, Doxygen, HTML,
                        and CSS
                        <br/></p>
                    </div>
				</div>
				<div class="col-lg-9 col-lg-offset-3">
                    <p><t>Concepts:</t></p>
                    <div class="col-lg-8">
                        <p>Data structures, algorithms,
                        complexity, object-oriented programming
                        (OOP), standard template library (STL),
                        high-performance computing (HPC),
                        parallel programming, general purpose GPU
                        (GPGPU) programming, language
                        interoperability, debugging, continuous
                        integration and continuous delivery
                        (CI/CD), and test-driven development
                    <br/></p>
                    </div>
				</div>
		</div><!--/.row -->
		<br>
		<div class="row">
                <div class="col-lg-2 col-lg-offset-1">
                	<h5>RESEARCH SKILLS</h5>
                </div>
				<div class="col-lg-9">
                    <p><t>Mathematics:</t></p>
                    <div class="col-lg-8">
                        <p>Linear algebra, functional analysis,
                        partial differential equations,
                        numerical methods, and optimization
                        <br/></p>
                    </div>
				</div>
				<div class="col-lg-9 col-lg-offset-3">
                    <p><t>Engineering:</t></p>
                    <div class="col-lg-8">
                        <p>Computational mechanics, computational
                        fluid dynamics (CFD), solid mechanics,
                        structural dynamics, fluid-structure
                        interaction, and coupled models
                        <br/></p>
                    </div>
				</div>
				<div class="col-lg-9 col-lg-offset-3">
                    <p><t>Applications:</t></p>
                    <div class="col-lg-8">
                        <p>AdH, GSSHA, ADCIRC, Aquaveo SMS/WMS,
                        FEniCS, ANSYS, Abaqus, ParaView, AutoCAD,
                        and STAAD Pro<br/></p>
                    </div>
				</div>
		</div><!--/.row -->
		<br>
		<br>
        <div id="projects"></div>
        <hr>
	</div><!--/.container -->

	<!--PROJECTS DESCRIPTION -->
	<section name="projects"></section>
	<div class="container desc">
		<div class="row">
				<div class="col-lg-2 col-lg-offset-1">
					<h5>RESEARCH PROJECTS</h5>
				</div>
				<div class="col-lg-6">
					<p><t>Coupling ADCIRC and machine learning models
                    in Water Coupler for simulation of compound
                    flooding events</t><br/>
                    <!--Supervisor: Dr. Clint Dawson, UT Austin<br/>-->
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>SEPTEMBER '20 - FEBRUARY '21</sm><br/></p>
				</div>
				<div class="col-lg-6 col-lg-offset-3">
					<p><br/></p>
				</div>

				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Coupling ADCIRC and GSSHA in
                    Water Coupler for simulation of compound
                    flooding events</t><br/>
                    <!--Supervisor: Dr. Clint Dawson, UT Austin<br/>-->
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>OCTOBER '19 - FEBRUARY '21</sm><br/></p>
				</div>
				<div class="col-lg-6 col-lg-offset-3">
					<p><br/></p>
				</div>

				<div class="col-lg-6 col-lg-offset-3">
					<p><t>PyADCIRC: A Python interface for ADvanced
                    CIRCulation (ADCIRC) for multi-software coupling</t><br/>
                    <!--Supervisor: Dr. Clint Dawson, UT Austin<br/>-->
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>OCTOBER '19 - OCTOBER '20</sm><br/></p>
				</div>
				<div class="col-lg-6 col-lg-offset-3">
					<p><br/></p>
				</div>

				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Coupling 2D diffusive wave and 3D groundwater models in Adaptive Hydraulics (AdH)</t><br/>
                    <!--Supervisor: Dr. Clint Dawson, UT Austin<br/>-->
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>OCTOBER '19 - OCTOBER '20</sm><br/></p>
				</div>
				<div class="col-lg-6 col-lg-offset-3">
					<p><br/></p>
				</div>

				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Water Coupler: Coupling North American
                    Mesoscale Forecast System (NAM), AdH, and
                    GSSHA in Python for simulation of compound
                    flooding events</t><br/>
                    <!--Supervisor: Dr. Clint Dawson, UT Austin<br/>-->
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>SEPTEMBER '18 - OCTOBER '19</sm><br/></p>
				</div>
				<div class="col-lg-6 col-lg-offset-3">
					<p><br/></p>
				</div>

				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Strong coupling of 2D and 3D shallow
                    water and transport models in AdH</t><br/>
                    <!--Supervisor: Dr. Clint Dawson, UT Austin<br/>-->
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>SEPTEMBER '15 - OCTOBER '19</sm><br/><br/></p>
				</div>

				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Adding mesh adaptivity for 3D prism elements in AdH</t><br/>
						<!--Supervisor: Dr. Clint Dawson, UT Austin<br/>-->
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>MAY '18 - AUGUST '18</sm><br/><br/></p>
				</div>

				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Improving parallel load rebalancing of adaptive tetrahedral meshes in AdH</t><br/>
						<!--Supervisor: Dr. Clint Dawson, UT Austin<br/>-->
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>SEPTEMBER '17 - MAY '18</sm><br/><br/></p>
				</div>

				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Numerical solution of multivariate first order ordinary differential equations</t><br/>
						<!--Supervisor: -<br/>-->
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>OCTOBER '17 - DECEMBER '17</sm><br/><br/></p>
				</div>

				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Adding parallel eXtensible Data Model and Format (XDMF) library to AdH for improved I/O and visualization</t><br/>
						<!--Supervisor: Dr. Clint Dawson, UT Austin<br/>-->
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>MAY '17 - AUGUST '17</sm><br/></p>
				</div>
				<div class="col-lg-6 col-lg-offset-3">
					<p><br/></p>
				</div>

				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Parallel meteorological library development for adaptive meshes in AdH</t><br/>
						<!--Supervisor: Dr. Clint Dawson, UT Austin<br/>-->
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>APRIL '15 - AUGUST '15</sm><br/><br/></p>
				</div>

				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Hurricane vulnerability of the Houston-Galveston Area Protection System</t><br/>
						<!--Supervisor: Dr. Clint Dawson, UT Austin<br/>-->
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>SEPTEMBER '14 - MARCH '15</sm><br/><br/></p>
				</div>

				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Finite element analysis of a post-Panamax container ship</t><br/>
						<!--Supervisor: Karan Doshi, IRS<br/>-->
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>JANUARY '14 - JULY '14</sm><br/><br/></p>
				</div>

				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Sectorial properties of arbitrarily shaped prismatic thin-walled beams</t><br/>
						<!--Supervisor: Karan Doshi, IRS<br/>-->
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>NOVEMBER '13 - JULY '14</sm><br/><br/></p>
				</div>

				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Automatic calculation of shear flow in ship hull girders</t><br/>
						<!--Supervisor: Karan Doshi, IRS<br/>-->
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>JULY '13 - DECEMBER '13</sm><br/><br/></p>
				</div>

				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Blast response of sandwich-structured composites submerged in water</t><br/>
						<!--Supervisor: Dr. Nilanjan Mitra, IIT Kharagpur<br/>-->
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>FEBRUARY '13 - JUNE '13</sm><br/><br/></p>
				</div>

				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Discrete optimization of truss weight using genetic algorithm</t><br/>
						<!--Supervisor: Dr. Nilanjan Mitra, IIT Kharagpur<br/>-->
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>AUGUST '12 - MAY '13</sm><br/><br/></p>
				</div>

				<div class="col-lg-6 col-lg-offset-3">
					<p><t>A MATLAB-based software for graphical modeling and analysis of trusses</t><br/>
						<!--Supervisor: -<br/>-->
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>AUGUST '12 - DECEMBER '12</sm><br/><br/></p>
				</div>

				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Crack detection in concrete using image processing, fuzzy logic, and neural networks</t><br/>
						<!--Supervisor: Dr. Sudhirkumar Barai, IIT Kharagpur<br/>-->
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>MARCH '12 - OCTOBER '12</sm><br/></p>
				</div>
		
		</div><!--/.row -->
        <br>
		<br>
	    <div id="publications"></div>
	    <hr>
	</div><!--/.container -->
	
	
	<!--SKILLS DESCRIPTION -->
	<!--div id="skillswrap">
		<div class="container">
			<div class="row">
					<div class="col-lg-2 col-lg-offset-1">
						<h5>SKILLS</h5>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="C" height="90" width="90"></canvas>
						<p>C</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 60,
										color:"#1abc9c"
									},
									{
										value : 40,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("C").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="MATLAB" height="90" width="90"></canvas>
						<p>MATLAB</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 60,
										color:"#1abc9c"
									},
									{
										value : 40,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("MATLAB").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="Fortran" height="90" width="90"></canvas>
						<p>Fortran</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 40,
										color:"#1abc9c"
									},
									{
										value : 60,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("Fortran").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					
					<div class="col-lg-3 col-lg-offset-3 centered">
						<canvas id="MPI" height="90" width="90"></canvas>
						<p>MPI</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 50,
										color:"#1abc9c"
									},
									{
										value : 50,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("MPI").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="OpenMP" height="90" width="90"></canvas>
						<p>OpenMP</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 40,
										color:"#1abc9c"
									},
									{
										value : 60,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("OpenMP").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="ANSYS Mechanical" height="90" width="90"></canvas>
						<p>ANSYS Mechanical</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 65,
										color:"#1abc9c"
									},
									{
										value : 35,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("ANSYS Mechanical").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
			</div><!--/.row -->
		</div><!--/.container -->
	</div></ #skillswrap -->

	<section name="publications"></section>
	<!--EXPERIENCE DESCRIPTION -->
	<div class="container desc">
		<div class="row">
				<div class="col-lg-2 col-lg-offset-1">
					<h5>PUBLICATIONS</h5>
				</div>
				<div class="col-lg-6">
					<p><a href="https://dx.doi.org/10.26153/tsw/7729" target="_blank"
                                onClick="ga('send', 'event', {
                                    eventCategory: 'ExternalLinkAccess',
                                    eventAction: 'ClickPublications',
                                    eventLabel: '2019-PhD-Dissertation',
                                    eventValue: 1});"
                        >
                            <b>Choudhary, G. K.</b> (2019).
                            <i><t>Coupled atmospheric, hydrodynamic, and hydrologic models for simulation of complex phenomena</t></i>
                            (Doctoral dissertation). The University of Texas at Austin, Austin, TX. Retrieved from https://dx.doi.org/10.26153/tsw/7729
                    </a><br/><br/></p>
				</div>
				<div class="col-lg-6 col-lg-offset-3">
					<p><a href="https://doi.org/10.1016/j.jcp.2018.04.055" target="_blank"
                                onClick="ga('send', 'event', {
                                    eventCategory: 'ExternalLinkAccess',
                                    eventAction: 'ClickPublications',
                                    eventLabel: '2018-Corey-AdH-SW3D-formulation-application',
                                    eventValue: 1});"
                        >
                            Trahan, C. J., Savant, G., Berger, R. C., McAlpin, T. O., Pettey, L., <b>Choudhary, G. K.</b>, & Dawson, C. N. (2018).
                            <t>Formulation and application of the Adaptive Hydraulics three-dimensional shallow water and transport models</t>.
                            <i>Journal of Computational Physics</i>, <i>374</i>, 47-90.
                    </a><br/><br/></p>
				</div>
				<div class="col-lg-6 col-lg-offset-3">
					<p><b>Choudhary, G. K.</b> (2018). <i><t>Verification and validation of coupled 2D-3D shallow water finite element models</t></i> (Unpublished report for Portfolio in Scientific Computation). The University of Texas at Austin, Austin, TX.<br/><br/>
					</p>
				</div>
				<div class="col-lg-6 col-lg-offset-3">
					<p><a href="https://doi.org/10.15781/T2Q81570X" target="_blank"
                                onClick="ga('send', 'event', {
                                    eventCategory: 'ExternalLinkAccess',
                                    eventAction: 'ClickPublications',
                                    eventLabel: '2017-Masters-Report',
                                    eventValue: 1});"
                        >
                            <b>Choudhary, G. K.</b> (2017). <i><t>Algebraic coupling of 2D and 3D shallow water finite element models</t></i>
                            (Master's report). The University of Texas at Austin, Austin, TX. Retrieved from https://doi.org/10.15781/T2Q81570X
                    </a><br/><br/></p>
				</div>
				<div class="col-lg-6 col-lg-offset-3">
					<p><a href="https://doi.org/10.1016/j.oceaneng.2015.08.048" target="_blank"
                                onClick="ga('send', 'event', {
                                    eventCategory: 'ExternalLinkAccess',
                                    eventAction: 'ClickPublications',
                                    eventLabel: '2015-IRS-shear-flow-ship-hull',
                                    eventValue: 1});"
                        >
                            <b>Choudhary, G. K.</b>, & Doshi, K. M. (2015). <t>An algorithm for shear stress evaluation in ship hull girders</t>.
                            <i>Ocean Engineering</i>, <i>108</i>, 678-691.
                    </a><br/><br/></p>
				</div>
				<div class="col-lg-6 col-lg-offset-3">
					<p><b>Choudhary, G. K.</b> (2013). <i><t>Discrete optimization of truss weight using genetic algorithm</t></i> (Unpublished bachelor's report). Indian Institute of Technology Kharagpur, India.<br/><br/>
					</p>
				</div>
				<div class="col-lg-6 col-lg-offset-3">
					<p><a href="https://doi.org/10.1109/ICACI.2012.6463195" target="_blank"
                                onClick="ga('send', 'event', {
                                    eventCategory: 'ExternalLinkAccess',
                                    eventAction: 'ClickPublications',
                                    eventLabel: '2012-IIT-Kgp-crack-detection-concrete',
                                    eventValue: 1});"
                        >
                           <b>Choudhary, G. K.</b>, & Dey, S. (2012, October). <t>
                           Crack detection in concrete surfaces using image processing, fuzzy logic, and neural networks</t>.
                           In <i>Advanced Computational Intelligence (ICACI), 2012 IEEE Fifth International Conference on</i> (pp. 404-411). IEEE.
                        </a>
					    <a href="assets/files/publications/2012-ICACI__Crack-detection-in-concrete-surfaces-using-image-processing-fuzzy-logic-and-neural-networks.pdf?pdf=2012-i__cdicsuipflann" target="_blank"
                                onClick="ga('send', 'event', {
                                    eventCategory: 'Download',
                                    eventAction: 'ClickPublications',
                                    eventLabel: '2012-IIT-Kgp-crack-detection-concrete',
                                    eventValue: 2});"
                                >&nbsp &nbsp<u>Click here to download the accepted version.</u>
                        </a>
                    <br/><br/></p>
				</div>
		</div><!--/.row -->
		<br>
        <div id="talks"></div>
        <hr>
	</div><!--/.container -->

	<section name="talks"></section>
	<!--EXPERIENCE DESCRIPTION -->
	<div class="container desc">
		<div class="row">
				<div class="col-lg-2 col-lg-offset-1">
					<h5>TALKS</h5>
				</div>
				<div class="col-lg-6">
					<p><a href="assets/files/talks/2020-Virtual-ADCIRC-users-group-meeting__PyADCIRC.pdf?pdf=2020-vaugm__p" target="_blank"
                                onClick="ga('send', 'event', {
                                    eventCategory: 'Download',
                                    eventAction: 'ClickTalks',
                                    eventLabel: '2020-ADCIRC-Users-Group-PyADCIRC',
                                    eventValue: 1});"
                        >
                            <b>Choudhary, G. K.</b>, and Dawson, C., 2020,
                            <t>PyADCIRC: A Python interface for accessing functions and variables of ADCIRC in Python</t>,
                            <i>Virtual ADCIRC Users Group Meeting</i>, Mar 30-31.
                    </a>
					<a href="https://doi.org/10.17615/mnf0-hw98" target="_blank"
                                onClick="ga('send', 'event', {
                                    eventCategory: 'ExternalLinkAccess',
                                    eventAction: 'ClickTalks',
                                    eventLabel: '2020-ADCIRC-Users-Group-PyADCIRC',
                                    eventValue: 1});"
                    >&nbsp&nbsp<u>Recorded talk available at https://doi.org/10.17615/mnf0-hw98</u>
                    </a><br/><br/></p>
				</div>
				<div class="col-lg-6 col-lg-offset-3">
					<p><a href="assets/files/talks/2019-Choudhary-PhD-Defense__Coupled-atmospheric-hydrodynamic-and-hydrologic-models.pdf?pdf=2019-cpd__cahahm" target="_blank"
                                onClick="ga('send', 'event', {
                                    eventCategory: 'Download',
                                    eventAction: 'ClickTalks',
                                    eventLabel: '2019-PhD-Defense',
                                    eventValue: 1});"
                        >
                            <b>Choudhary, G. K.</b>, 2019,
                            <t>Coupled atmospheric, hydrodynamic, and hydrologic models for simulation of complex phenomena</t>,
                            <i>PhD defense presented to the Dissertation Committee and the public at The University of Texas at Austin</i>,
                            Austin, TX, USA, Sep 30.
                    </a><br/><br/></p>
				</div>
				<div class="col-lg-6 col-lg-offset-3">
					<p><a href="assets/files/talks/2017-UT-Austin-EAC-Poster__Strongly-coupled-2D-and-3D-shallow-water-models.pdf?pdf=2017-uaep__sc2a3swm" target="_blank"
                                onClick="ga('send', 'event', {
                                    eventCategory: 'Download',
                                    eventAction: 'ClickTalks',
                                    eventLabel: '2017-UT-EAC-Poster-SW2D-SW3D-Coupling',
                                    eventValue: 1});"
                        >
                            <b>Choudhary, G. K.</b>, Trahan, C., Pettey, L., Farthing, M. and Dawson, C., 2017,
                            <t>Strongly coupled 2D & 3D shallow water models</t>,
                            <i>Poster presented at the External Advisory Committee Meeting at The University of Texas at Austin</i>,
                            Austin, TX, USA, Oct 20.
                    </a><br/><br/></p>
				</div>
				<div class="col-lg-6 col-lg-offset-3">
					<p><a href="http://web.stanford.edu/group/imum2017/abstracts.html" target="_blank"
                                onClick="ga('send', 'event', {
                                    eventCategory: 'Download',
                                    eventAction: 'ClickTalks',
                                    eventLabel: '2017-IMUM-Stanford-SW2D-3D-Coupling',
                                    eventValue: 1});"
                        >
                            <b>Choudhary, G. K.</b>, Trahan, C., Pettey, L., Farthing, M. and Dawson, C., 2017,
                            <t>Algebraic coupling of 2D and 3D shallow water finite element models</t>,
                            <i>The 16th International workshop on Multi-scale (Un)-structured mesh numerical Modeling
                            for coastal, shelf, and global ocean dynamics</i>, Stanford, CA, USA, Aug 29-Sep 1.
                    </a><br/><br/></p>
				</div>
				<div class="col-lg-6 col-lg-offset-3">
					<p><a href="assets/files/talks/2012-ICACI__Crack-detection-in-concrete.pdf?pdf=2012-i__cdic" target="_blank"
                                onClick="ga('send', 'event', {
                                    eventCategory: 'Download',
                                    eventAction: 'ClickTalks',
                                    eventLabel: '2012-IIT-Kgp-crack-detection-concrete',
                                    eventValue: 1});"
                        >
                            <b>Choudhary, G. K.</b>, and Dey, S., 2012,
                            <t>Crack detection in concrete surfaces using image processing, fuzzy logic, and neural networks</t>,
                            <i>2012 IEEE Fifth International Conference on Advanced Computational Intelligence (ICACI)</i>,
                            Nanjing, China, Oct 18-20.
                    </a><br/><br/></p>
				</div>
		</div><!--/.row -->
        <div id="contact"></div>
		<br>
	</div><!--/.container -->

